<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@200;400&family=Nixie+One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="footer.css" />
  </head>
  <body>
    <footer>
      <div class="footer-left">
        <div class="left-logo"><img src="/images/logo-gsa.png" width="70%" /></div>
        <div class="left-title"><h3>Grand Sekar Asri Comfort Living & Back To Nature</h3></div>
      </div>
      <div class="footer-center">
        <div class="center-left">
          <h1>Project</h1>
          <a href="#">Home</a>
          <a href="#">Lokasi</a>
          <a href="#">Pricelist</a>
        </div>
        <div class="center-center">
          <h1>Service</h1>
          <a href="#">FAQ</a>
          <a href="#">Fasilitas</a>
          <a href="#">Security</a>
        </div>
        <div class="center-right">
          <h1>About Us</h1>
          <a href="#">Project</a>
          <a href="#">Features</a>
          <a href="#">Gallery</a>
        </div>
      </div>
      <div class="footer-right">
        <div class="right-title">
          <h1>Hubungi Kami</h1>
        </div>
        <div class="right-content">
          <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-solid fa-location-dot"></i></a>
          <a href="#"><i class="fa-solid fa-phone"></i></a>
        </div>
      </div>
    </footer>
    <section>
      <div class="copyright">
        <h2>Copyright &copy; Official Site Of The Grand Amarilys</h2>
      </div>
    </section>
  </body>
</html>
