<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Grand Amaryllis</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@200;400&family=Nixie+One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="type.css" />
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="./navbar.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <h4>The Grand Amaryllis</h4>
      </div>

      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="type.html">Type</a></li>
        <li><a href="about.html">About</a></li>
      </ul>

      <!-- BURGER -->
      <div class="menu-toggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
    <script src="script.js"></script>
    <header>
      <div class="header">
        <div class="header-title">
          <h1>The Grand Amaryllis</h1>
        </div>
      </div>
    </header>
    <section class="page-title">
      <h1>TYPE & FASILITAS</h1>
    </section>
    <main>
      <div class="container-1">
        <div class="img-1-1">
          <img src="../images/5.jpg" width="100%" />
        </div>
        <div class="title-teks-1-1">
          <h2>Grand Amaryllis Located in the one of Malang's most desirable residential</h2>
          <p>
            Grand Amaryllis kawasan hunian yang didesign secara detail di daerah berkembang Kota Malang. Kawasan dengan pembagian antara fasilitas, ruang hijau, dan area hunian yang tepat menjadikan Grand Amaryllis begitu nyaman bagi Anda
          </p>
        </div>
        <div class="img-1-2">
          <img src="../images/denah-1.jpg" width="100%" />
        </div>
        <div class="type-1-1">
          <h1>The Freesia</h1>
          <h4>Land 84</h4>
          <h4>Building 63</h4>
          <img src="../images/family-2.jpg" width="100%" />
        </div>
      </div>
      <section>
        <fieldset>
          <legend><i class="fa-solid fa-house"></i></legend>
        </fieldset>
      </section>
      <div class="container-2">
        <div class="img-2-1">
          <img src="../images/3.jpg" width="100%" />
        </div>
        <div class="img-2-2">
          <img src="../images/denah-2.jpg" width="100%" />
        </div>
        <div class="type-2">
          <h1>The Poppy</h1>
          <h4>Land 70</h4>
          <h4>Building 51</h4>
          <img src="../images/yoga.jpg" width="100%" />
        </div>
      </div>
      <section>
        <fieldset>
          <legend><i class="fa-solid fa-house"></i></legend>
        </fieldset>
      </section>
      <div class="container-3">
        <div class="img-3-1">
          <img src="../images/1.jpg" width="100%" />
        </div>
        <div class="img-3-2">
          <img src="../images/denah-3.jpg" width="100%" />
        </div>
        <div class="img-3-3">
          <img src="../images/forest.jpg" width="100%" />
        </div>
        <div class="img-3-4">
          <img src="../images/interior-2.jpg" width="100%" />
        </div>

        <div class="type-3">
          <h1>The Sunflower</h1>
          <h4>Land 60</h4>
          <h4>Building 40</h4>
          <p>Grand Amarrylis menawarkan 3 tipe hunian mulai dari tipe 84 2 lantai, tipe 70 2 lantai, dan tipe 60. Perpaduan gaya eropa dan modern tropis yang diangkat menawarkan kemewahan bagi penghuninya</p>
        </div>
      </div>
      <section>
        <fieldset>
          <legend><i class="fa-solid fa-house"></i></legend>
        </fieldset>
      </section>
      <div class="container-4">
        <div class="title-4-1">
          <h1>Fasilitas Umum</h1>
        </div>
        <div class="fasilitas">
          <div class="fasilitas-1-1">
            <img src="../images/gate.jpg" width="100%" />
          </div>
          <div class="fasilitas-1-2">
            <p>Adanya One Gate System menjadikan Grand Amaryllis hunian yang lebih exclusive dan aman bagi Anda dan keluarga</p>
          </div>
          <div class="fasilitas-2-1">
            <img src="../images/masjid.jpg" width="100%" />
          </div>
          <div class="fasilitas-2-2">
            <p>Masjid Grand Amaryllis terletak di lokasi lahan yang sangat sejuk yang akan membuat ibadah Anda lebih khusyuk</p>
          </div>
          <div class="fasilitas-3-1">
            <img src="../images/jalan.jpg" width="100%" />
          </div>
          <div class="fasilitas-3-2">
            <p>Grand Amaryllis didesign dengan row jalan yang lebar untuk meningkatkan mobilitas serta kenyamanan Anda dan keluarga</p>
          </div>
          <div class="fasilitas-4-1">
            <img src="../images/taman.jpg" width="100%" />
          </div>
          <div class="fasilitas-4-2">
            <p>Grand Amaryllis menyediakan taman sehingga meningkatkan keasrian dan kualitas udara bagi Anda dan keluarga</p>
          </div>
          <div class="fasilitas-5-1">
            <img src="../images/security.jpg" width="100%" />
          </div>
          <div class="fasilitas-5-2">
            <p>Keamanan dan kenyamanan Anda adalah prioritas utama kami, dengan adanya Security yang standby 24/7 keamanan Anda terlindungi</p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-left">
        <div class="left-logo"><img src="/images/logo-gsa.png" width="70%" /></div>
        <div class="left-title"><h3>Grand Sekar Asri Comfort Living & Back To Nature</h3></div>
      </div>
      <div class="footer-center">
        <div class="center-left">
          <h1>Project</h1>
          <a href="#">Home</a>
          <a href="#">Lokasi</a>
          <a href="#">Pricelist</a>
        </div>
        <div class="center-center">
          <h1>Service</h1>
          <a href="#">FAQ</a>
          <a href="#">Fasilitas</a>
          <a href="#">Security</a>
        </div>
        <div class="center-right">
          <h1>About Us</h1>
          <a href="#">Project</a>
          <a href="#">Features</a>
          <a href="#">Gallery</a>
        </div>
      </div>
      <div class="footer-right">
        <div class="right-title">
          <h1>Hubungi Kami</h1>
        </div>
        <div class="right-content">
          <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-solid fa-location-dot"></i></a>
          <a href="#"><i class="fa-solid fa-phone"></i></a>
        </div>
      </div>
    </footer>
    <section>
      <div class="copyright">
        <h2>Copyright &copy; Official Site Of The Grand Amarilys</h2>
      </div>
    </section>
  </body>
</html>
